.feed {
  flex: 0.6;
  margin: 0 40px;
  margin-top: 10px;
}

.feed__inputContainer {
  width: max-content;
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.feed__input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 30px;
  display: flex;
  padding: 5px;
  color: gray;
  padding-left: 15px;
}

.feed__input > form {
  display: flex;
  width: 100%;
}

.feed__input > form > input {
  outline: none;
  border: none;
  flex: 1;
  margin-left: 10px;
  font-weight: 600;
}

.feed__input > form > button {
  display: none;
}

.feed__inputOptions {
  display: flex;
  justify-content: space-evenly;
}
