* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
}

.loginForm,
.signupForm {
  padding: 25px;
}

.loginHeader,
.signupHeader > p {
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

.loginInput,
.signupInput {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  padding: 10px;
  margin: 5px;
  width: 300px;
  border: solid 1px gray;
  border-radius: 5px;
}

button {
  padding: 10px;
  margin-top: 15px;
  margin: 5px;
  border: solid 1px gray;
  border-radius: 5px;
  background-color: #0a66c2;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.createAccount {
  text-align: center;
}
