@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.welcomeText {
  background-color: white;
  border: solid 1px gray;
  padding: 50px;
  border-radius: 10px;
  margin: 10px;
  width: 300px;
}

.loginForm,
.signupForm {
  margin-left: 50px;
  border: solid 1px lightgray;
  padding: 50px;
  border-radius: 10px;
  background-color: white;
  color: gray;
  box-shadow: 4px 4px 5px gray;
  width: 300px;
}

.headerLogin,
.headerSignup {
  text-align: center;
  padding-bottom: 40px;
  font-size: 1.5rem;
  font-weight: 800;
  font-style: bold;
  color: black;
}

.loginForm > form > div > label {
  font-size: 12px;
  font-weight: 600;
}
.signupForm > form > div > label {
  font-size: 12px;
  font-weight: 600;
}

.loginIcon {
  position: absolute;
  margin: 5px;
  padding-right: 10px;
}

.username {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.username > input {
  outline: none;
  border: none;
  border-bottom: solid 1px gray;
  padding: 10px;
  padding-left: 35px;
}

.password {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.password > input {
  outline: none;
  border: none;
  border-bottom: solid 1px gray;
  padding: 10px;
  padding-left: 35px;
}

.forgotPassword {
  display: flex;
  justify-content: end;
  padding: 5px;
}

.forgotPassword > label > a {
  text-decoration: none;
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.loginButton > button {
  outline: none;
  border: none;
  border-radius: 100px;
  padding: 10px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  color: white;
  cursor: pointer;
  width: 300px;
}

.signupButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.signupButton > button {
  outline: none;
  border: none;
  border-radius: 100px;
  padding: 10px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  color: white;
  cursor: pointer;
  width: 300px;
}

.signup {
  text-align: center;
  margin: -15px;
}

.signup > label > a {
  text-decoration: none;
}

/* skipped these thing, not necessarily */

.divisionText {
  text-align: center;
}

.divisionText > h2 {
  padding-top: 50px;
  font-size: 12px;
  border-bottom: solid 1px lightgrey;
  line-height: 0.1em;
  margin-bottom: 15px;
  margin: 10px 0 20px;
  width: 100%;
}

.divisionText > h2 span {
  background: white;
  padding: 0 10px;
}

.signWith {
  border: solid 1px lightgrey;
  border-radius: 100px;
  background-color: whitesmoke;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  width: auto;
}

.iconText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.icon {
  display: flex;
  align-items: center;
}

.icon > img {
  background-color: white;
  border-radius: 100px;
  padding: 5px;
  margin: 5px;
  margin-top: 40px;
  height: 17px;
  position: absolute;
}
