.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.welcomeText {
  width: 25%;
  padding: 100px;
}

.loginForm,
.signupForm {
  border: solid 1px lightgray;
  padding: 50px;
  border-radius: 10px;
  background-color: white;
  color: gray;
  box-shadow: 4px 4px 5px gray;
}

.headerLogin,
.headerSignup {
  text-align: center;
  padding-bottom: 40px;
  font-size: 1.5rem;
  font-weight: 800;
  font-style: bold;
  color: black;
}

.loginForm > form > div > label {
  font-size: 12px;
  font-weight: 600;
}
.signupForm > form > div > label {
  font-size: 12px;
  font-weight: 600;
}

.loginIcon {
  position: absolute;
  margin: 5px;
  padding-right: 10px;
}

.username {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.username > input {
  outline: none;
  border: none;
  border-bottom: solid 1px gray;
  padding: 10px;
  padding-left: 35px;
}

.password {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.password > input {
  outline: none;
  border: none;
  border-bottom: solid 1px gray;
  padding: 10px;
  padding-left: 35px;
}

.forgotPassword {
  display: flex;
  justify-content: end;
  padding: 5px;
}

.forgotPassword > label > a {
  text-decoration: none;
}

.loginButton,
.signupButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loginButton > button {
  outline: none;
  border: none;
  border-radius: 20px;
  margin: 20px 10px 20px 10px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  padding: 10px 100px 10px 100px;
  color: white;
  cursor: pointer;
}

.signupButton > button {
  outline: none;
  border: none;
  border-radius: 20px;
  margin: 20px 10px 20px 10px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  padding: 10px 100px 10px 100px;
  color: white;
  cursor: pointer;
}

.signup {
  text-align: center;
  margin: -15px;
}

.signup > label > a {
  text-decoration: none;
}

/* skipped these thing, not necessarily */
.division-text {
  font-size: 12px;
  font-weight: 600;
  margin-top: 40px;
  text-align: center;
}

.signWith {
  border: solid 1px lightgrey;
  border-radius: 100px;
  background-color: whitesmoke;
  font-size: 12px;
  font-weight: 600;
  margin: 20px 10px 20px 10px;
  cursor: pointer;
}

.iconText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon > img {
  display: block;
  background-color: white;
  border-radius: 100px;
  padding: 3px;
  height: 15px;
  margin: 5px;
  position: relative;
}

/* .Box {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding: 5px;
}

.iconBox {
  border-radius: 100px;
  background-color: white;
}

.iconBox > img {
  height: 15px;
  margin: 5px;
  position: relative;
  display: block;
}

.iconText {
  text-align: center;
} */
